<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <!--Menu-->
    <%- include('../partials/header.ejs') %>
    <!--Fin Menu-->

<!--Cuerpo-->
<main>
    <section class="action-admin">
        <h2>Opciones de administrador</h2>
        <form action="/product/edit/<%= product.id %>" method="GET" style="display: inline-flex">
            <button type="submit" class="action-button edit">EDITAR</button>
        </form>
        <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
            <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>
    </section>
    <div class="contenedor-detalle">
        <div class="imagenes">
            <img src="/images/products/<%= product.image %>"  width="480px" height="480px" />
        </div>
        <div class="detalle">
            <span><%= product.state %></span>
            <h1><%= product.name %></h1>
            <ul class="lista-descripcion">
                <p><%= product.characteristics %></p>
            </ul>
        </div>
        <div class="precio">
            <div class="precio-item">
                <div>
                    <h2>Precio especial:</h2>
                </div>
                <div>
                    <h2>$<%= product.discount %></h2>
                </div>
            </div>
            <div class="precio-item">
                <div>
                    <h2>Precio de lista:</h2>
                </div>
                <div>
                    <h2>$<%= product.price %></h2>
                </div>
            </div>
            
            <hr />
            
            <form>
                <div class="form-control">
                    <input class="w-10" type="checkbox" id="warranty" name="warranty">
                    <label for="warranty">Garantía de <%= product.warranty %> meses</label><br>
                </div>
                
                <div class="form-control">
                    <input class="w-10" type="checkbox" id="shipping" name="shipping">
                    <label for="shipping">Envío <%= product.shipping %></label><br>
                </div>
              
                <div class="form-control">
                    <label for="quantity">Cantidad:</label>
                    <input class="w-30" type="number" id="quantity" name="quantity" value="1" max="100">
                </div>
                <hr>
                
                <button class="btn-comprar" type="button" style="width:100%">Comprar ahora</button>
                <button class="btn-agregar" type="button" style="width:100%">Agregar al carrito</button>
                
                <hr>
              </form>
        </div>
    </div>
    <div class="caracteristicas">
        <hr />
        <h1>Descripción</h1>
        <p><%= product.description %></p>
    </div>
</main>
<!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('../partials/footer.ejs') %>
     <!--Fin Pie de Página-->
</body>
</html>