<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Lista de Producto</title>
</head>
<body>
    <!--Menu-->
    <%- include('../partials/header.ejs') %>
    <!--Fin Menu-->

    <!--Cuerpo-->
    <main>

      <div class="container rounded py-5 ">

        <% if (locals.userLogged?.category) { %>
         
          <div class="row">
            <div class="col-12 col-lg-6">
              <h2></i> Opciones de administrador</h2>
            </div>
            <div class="col-12 col-lg-4 offset-lg-2 items-end">
            <a class="btn btn-primary" href="/product/create"><i class="fas fa-dolly-flatbed"></i> Agregar un nuevo producto</a>
            </div>
          </div>

        <% } %>

          <div class="container my-lg-5">
            <div class="row">
              <div class="col-12 col-lg-4">
                <h1>Nuestros Productos</h1>
              </div>
              <div class="col-12 col-lg-4 offset-lg-4">
                <form class="d-flex">
                  <label for="sort">Ordenar por:</label>
                  <select id="sort" name="sort" class="form-control">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <option value="price-asc">Popularidad</option>
                    <option value="price-asc">Menor Precio</option>
                    <option value="price-desc">Mayor precio</option>
                  </select>
                </form>              
              </div>
            </div>
          </div>
          
          <% if (locals?.keywords) { %>
            <h2 class="products-title">Resultados de la búsqueda: <%= keywords %></h2>
          <% } %>
          
          <div class="container">
            <div class="row">
              <div class="col-12 mt-3 col-lg-3">
                <div class="border rounded p-3">                  

                  <% if (locals?.keywords) { %>
                    <form action="">
                      <h2>Marca:</h2>
                      <!-- Añade más marcas según la categoria -->
                      <% brand?.forEach(e => { %>
                        <label for="brand"> <%= e.nombre %> (<%= e.cantidad %>)</label>
                        <input type="checkbox" id="brand" name="brand" value="<%= e.id %>">
                      <% }) %>

                      <label class="label-control" for="max-price">Precio máximo:</label>
                      <input class="form-control" type="number" id="max-price" name="max-price">
                    
                      <label class="label-control" for="min-price">Precio mínimo:</label>
                      <input class="form-control" type="number" id="min-price" name="min-price">
                    </form>
                    
                  <% } else {%>
                    <h2>Categoria:</h2>
                    <% if (categories && categories.length > 0) { %>
                      <div class="list-group">
                        <% categories.forEach(e => { %>
                          <a href="/product/category/<%= e.name %>" class="list-group-item list-group-item-action"><%= e.name %></a>
                        <% }) %>
                      </div>
                    <% } else { %>
                      <p>No hay categorías disponibles.</p>
                    <% } %>
                  <% }%>
                  
                </div>
              </div>
                
              <div class="col-12 col-lg-9">
                <div class="row" id="list">

                  <% if (locals?.error) { %>
                    <div style="align-items: center">
                      <img src="/img/search-error.png" style="width: 400px;">
                      <h4><%= error.msg %></h4>
                    </div>
                    
                  <% } %>

                  <!-- Repite el div .product-card para cada producto -->
                  <% products.forEach(product => { %>
                    <div class="col-12 col-lg-4 mt-lg-3 my-3" id="item">
                      <a href="/product/detail/<%= product.id_product%>" class="card text-decoration-none text-dark">  
                          <img src="/images/products/<%= product.image %>" class="card-img-top" alt="Imagen del producto">
                          <div class="card-body">
                            <h2 class="card-title fs-4"><%= product.name %></h2>
                            <p class="card-text">Precio especial: $<%= (product.price - (product.price * product.discount / 100)).toFixed(2) %></p>
                            <p class="card-text">Precio de lista: $<%= product.price %></p>
                          </div>
                      </a>
                    </div>
                  <% }) %>                
                </div>

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center"">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>

              </div>
            </div>
            </div>

    </main>
    <!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('../partials/footer.ejs') %>
    <!--Fin Pie de Página-->
    <script src="../../../public/js/pagination.js"></script>
</body>
</html>