<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lista de Producto</title>
</head>
<body>
    <!--Menu-->
    <%- include('../partials/header.ejs') %>
    <!--Fin Menu-->

    <!--Cuerpo-->
    <main>

      <section class="action-admin">
        <h2>Opciones de administrador</h2>
        <a href="/product/create">Crear un nuevo producto</a>
      </section>

          <div class="cabecera-lista-producto">

              <div><h1>Nuestros Productos</h1></div>
              <div class="filtros-productos">
                  <form>
                      <label for="sort">Ordenar por:</label>
                      <select id="sort" name="sort">
                        <option value="price-asc">Precio: Menor a Mayor</option>
                        <option value="price-desc">Precio: Mayor a Menor</option>
                        <option value="rating">Calificación</option>
                        <option value="popularity">Popularidad</option>
                        <option value="newest">Más reciente</option>
                      </select>
                    </form>              
              </div>
          </div>
          <div class="container">
              <div class="filters">
                  <form>
                    <h2 for="brand">Marca:</h2>
                    <ul id="brand" name="brand">
                      <li>Apple<li>
                      <li>Dell<li>
                      <li>HP<li>
                      <li>Lenovo<li>
                      <li>Asus<li>
                      <!-- Añade más marcas según sea necesario -->
                    </ul>
                
                    <label for="max-price">Precio máximo:</label>
                    <input type="number" id="max-price" name="max-price">
                
                    <label for="min-price">Precio mínimo:</label>
                    <input type="number" id="min-price" name="min-price">
                  </form>
                </div>
                
              <div class="products">
                
                <!-- Repite el div .product-card para cada producto -->
                <% products.forEach(product => { %>
                  <div class="product-card">
                    <a href="/product/detail/<%= product.id %>">    
                    <img src="/images/products/<%= product.image %>" alt="Imagen del producto">
                        <h2><%= product.name %></h2>
                        <p>Precio especial: $<%= product.discount %></p>
                        <p>Precio de lista: $<%= product.price %></p>
                    </a>
                  </div>
                <% }) %>                
               
              </div>
            </div>
    </main>
    <!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('../partials/footer.ejs') %>
    <!--Fin Pie de Página-->
</body>
</html>