<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <!--Menu-->
    <%- include('../partials/header.ejs') %>
    <!--Fin Menu-->

<!--Cuerpo-->
<main>
    <% if (locals.userLogged?.category) { %>

        <section class="container my-lg-5">
            <div class="row">
                <div class="col-lg-8">
                    <h2><i class="fas fa-tools"></i> Opciones de administrador</h2>
                </div>
                <div class="col-lg-4">
                    <form action="/product/edit/<%= product.id_product %>" method="GET" style="display: inline-flex">
                        <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> EDITAR</button>
                    </form>
                    <form action="/product/delete/<%= product.id_product %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> ELIMINAR</button>
                    </form>
                </div>
            </div>
        </section>

    <% } %>
    
    <div class="container mt-5">
        <div class="row">   
            <div class="col-lg-4">
                <img src="/images/products/<%= product.image %>"  class="w-100 h-50" />
                
                <h6 class="mt-3"><%= product.state.name %></h6>
                <h3><%= product.name %></h3>
            </div>
            <div class="col-lg-4">
                <h3>Caracteristicas:</h3>
                <ul class="lista-descripcion">
                    <% if (product.characteristics) { %>
                        <% product.characteristics.split('•').filter(item => item.trim() !== '').forEach(characteristic => { %>
                            <li>• <%= characteristic.trim() %></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="precio-item">
                    <div>
                        <h4>Precio especial:</h4>
                    </div>
                    <div>
                        <h4>$<%= (product.price - (product.price * product.discount / 100)).toFixed(2) %></h4>
                    </div>
                </div>
                <div class="precio-item">
                    <div>
                        <h4>Precio de lista:</h4>
                    </div>
                    <div>
                        <h4>$<%= product.price %></h4>
                    </div>
                </div>
                
                <hr />
                
                <form id="add-to-cart-form-<%= product.id_product %>" action="/cart/add/<%= product.id_product %>" method="POST">
                    <label for="warranty">Garantía de <%= product.warranty %> meses</label><br>
                
                    <label for="shipping">Envío <%= product.shipping == true ? 'gratis':'a acordar'%></label><br>
                
                    <div class="d-flex align-items-center">
                        <label for="quantity" class="label-control">Cantidad:</label>
                        <input class="w-25 form-control" type="number" id="quantity-<%= product.id_product %>" name="quantity" min="1" max="<%= product.stock %>" value="1">
                    </div>
                    
                    <p class="text-center">Unidades disponibles <%= product.stock %></p>
                    <hr>
                    
                    <button class="btn btn-primary py-3" type="button" style="width:100%">Comprar ahora</button>
                    <button class="btn btn-secondary mt-2 py-3" type="button" id="add-to-cart-btn-<%= product.id_product %>" style="width:100%">Agregar al carrito</button>
                    
                </form>
            </div>
        <div>
    </div>
    
    
    <div class="caracteristicas">
        <hr />
        <h1>Descripción</h1>
        <p><%= product.description %></p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Seleccionar todos los botones con la clase 'btn-secondary' para agregar al carrito
            const addToCartButtons = document.querySelectorAll('.btn-secondary');

            // Agregar un event listener a cada botón
            addToCartButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    // Prevenir el comportamiento predeterminado del botón
                    event.preventDefault();

                    // Obtener el ID del producto desde el formulario
                    const productId = button.id.replace('add-to-cart-btn-', '');
                    const form = document.querySelector(`#add-to-cart-form-${productId}`);
                    const quantity = form.querySelector(`#quantity-${productId}`).value;

                    // Enviar una solicitud fetch al endpoint de agregar al carrito
                    fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ quantity: quantity })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Mostrar un mensaje de éxito y actualizar la página si es necesario
                            alert('Producto agregado correctamente al carrito');
                        } else {
                            alert('Error al agregar el producto al carrito');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error al agregar el producto al carrito');
                    });
                });
            });
        });
    </script>
</main>
<!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('../partials/footer.ejs') %>
     <!--Fin Pie de Página-->
</body>
</html>