<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Creacion de Producto</title>
</head>
<body>
    <!--Menu-->
    <%- include('../partials/header.ejs') %>
    <!--Fin Menu-->

<!--Cuerpo-->
<main>
    <form id="productForm" action="/product/create" method="POST" enctype="multipart/form-data">
        <div class="container"> 
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Formulario de creacion</h2>
                </div>
                
                <div class="col-lg-3 text-center text-lg-start">
                    <img src="/images/products/default-image.png" class="w-75 h-75" />
                    <!--AQUI SE INGRESAN LAS IMAGENES-->
                    <div>
                        <label class="label-control" for="image">Imagen:</label>
                        <input class="form-control" type="file" name="image" id="image">
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div>
                        <label class="label-control" for="mark">Marca</label>
                        <select class="form-control" id="mark" name="mark" onchange="checkOther(this)" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% marcas.forEach(marca => { %>
                                <option value="<%= marca.id %>"><%= marca.name %></option>
                            <% }) %>
                            <option value="other">Otra marca</option>
                        </select>
                        <!--<input class="form-control" type="text" name="mark" id="mark" placeholder="Ingresar la marca" style="display: none;">-->
                    </div>
                    <!--AQUI SE INGRESA LA MARCA DEL PRODUCTO-->
                    <!--<h1>Apple Macbook Pro 13 M2 8gb 256gb Gris Esp Ñ</h1>
                    AQUI SE INGRESA EN NOMBRE DEL PRODUCTO-->
                    <div>
                        <label class="label-control" for="name">Nombre del producto</label>
                        <input class="form-control" type="text" name="name" id="name" 
                        placeholder="Ingrear un nombre descriptivo" required>
                    </div>
    
                    <!--AQUI SE INGRESA LAS CARACTERISTICAS DEL PRODUCTO-->
    
                    <div>
                        <label class="label-control">Caracteristicas</label>
                        <!--AQUI SE INGRESAN LAs caracteristicas-->
                        <textarea placeholder="Aqui puedes espcificar las principales caracteristicas de tu producto" class="form-control" name="characteristics" id="characteristics" required></textarea>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="precio-item">
                        <div>
                            <label class="label-control">Precio de lista:</label>
                            <!--<h2>$2.350.000</h2> AQUI SE MUESTRA EL PRECIO-->
                            <!--<label for="price">Precio de Lista</label>-->
                            <input class="form-control"type="number" name="price" id="price" placeholder="Ingresar precio" required>
                        </div>
                    </div>
                    <div class="precio-item">
                        <div>
                            <label class="label-control">Descuento:</label>
                            <!--<h2>$3.150.000</h2> AQUI SE MUESTRA EL DESCUENTO-->
                            <input class="form-control" type="number" name="discount" id="discount" placeholder="Ingresar en porcentaje" required>
                        </div>
                    </div>
                </div>
                    
                <div class="col-lg-3">
                        <!--<input class="w-10" type="checkbox" id="warranty" name="warranty">
                        AQUI SE INGRESA LA GARANTIA-->
                        <label class="label-control" for="warranty">Garantía:</label><br>
                        <input class="form-control" type="number" name="warranty" id="warranty" placeholder="Ingresar en meses" required>
                        <!--<input class="w-10" type="checkbox" id="shipping" name="shipping">
                        AQUI SE INGRESA EL COSTO DEL ENVIO-->
                        <label class="label-control" for="shipping">Envío:</label>
                        <select class="form-control" id="shipping" name="shipping" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <option value="true">Gratis</option>
                            <option value="false">A acordar</option>
                        </select>
                        <label class="label-control" for="stock">Stock:</label>
                        <input class="form-control" type="number" name="stock" id="stock" placeholder="Ingresar cantidad" required>
                        <!--<input class="w-30" type="number" id="quantity" name="quantity" value="1" max="100">
                        AQUI SE INGRESA EL STOCK DISPONIBLE-->
                    

                        <label class="label-control" for="category">Categoria </label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.name %></option>
                            <% }) %>
                        </select>
                        <!--AQUI SE INGRESA EL ESTADO-->
                        <label class="label-control mt-3" for="state">Estado</label>
                        <select class="form-control" name="state" id="state" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% estados.forEach(estado => { %>
                                <option value="<%= estado.id %>"><%= estado.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                
                <div class="col-12">
                    <label class="label-control">Descripción</label>
                    <!--AQUI SE INGRESAN LA DESCRIPCION-->
                    <textarea name="description" id="description" class="form-control" style="width: 100%; height: 400px;" placeholder="Describe como quieres vender tu producto" required></textarea>
                </div>
                
                <div class="col-12 my-5 d-flex justify-content-end gap-2">
                    <a href="/product/list" class="btn btn-secondary">Cancelar</a>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>         
        </div>
</form>
    
</main>
<!--Fin Cuerpo-->

    <!--Pie de Página-->
    <%- include('../partials/footer.ejs') %>
     <!--Fin Pie de Página-->
     <script src="/js/productValidation.js"></script>
</body>
</html>