<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aad721d8a3.js" crossorigin="anonymous"></script>
    <title>Electronic Digital Store</title>
</head>
<body>
    <!--Menu-->
    <%- include('./partials/header.ejs') %>
    <!--Fin Menu-->

    <!--Cuerpo-->
    <main>
        <!--Slider-->
            <div class="swiffy-slider">
                <ul class="slider-container">
                    <li><img class="w-100" src="/img/Banner-productos.jpg"></li>
                    <li><img class="w-100" src="/img/Banner-lenovo.jpg"></li>
                    <li><img class="w-100" src="/img/Banner-LG.png"></li>
                </ul>
            
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            
                <div class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                </div>
            </div>

        <!--Tarjetas-->
        <div class="container mb-lg-5">
            <div class="row">
                <div class="col-12 my-3 mt-lg-0">
                    <h2>Nuestras Ofertas</h2>
                </div>

                <div class="col-12">
                    <div class="row">
                        <% productsByPrice.forEach(product => { %>
                            <div class="col-lg-3 mt-2 mt-lg-0">
                                <div class="card">
                                    <img class="card-img-top" src="/images/products/<%= product.image %>">
                                    <div class="card-body">
                                        <h3 class="card-title"><%= product.name %></h3>
                                        <p>Precio especial: $<%= (product.price - (product.price * product.discount / 100)).toFixed(2) %></p>
                                        <p>Precio de lista: $<%= product.price %></p>
                                        <a href="/product/detail/<%= product.id_product %>">Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin   Tarjetas-->

        <!--Tarjetas-->
        <div class="container my-5">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>Los más vistos</h2>
                </div>

                <div class="col-12">
                    <div class="row">
                        <% productsByVisualizations.forEach(product => { %>
                            <div class="col-lg-3 mt-2 mt-lg-0">
                                <div class="card">
                                    <img class="card-img-top" src="/images/products/<%= product.image %>">
                                    <div class="card-body">
                                        <h3 class="card-title"><%= product.name %></h3>
                                        <p>Precio especial: $<%= (product.price - (product.price * product.discount / 100)).toFixed(2) %></p>
                                        <p>Precio de lista: $<%= product.price %></p>
                                        <a href="/product/detail/<%= product.id_product %>">Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin   Tarjetas-->


        <!--Slider-->
        <div class="swiffy-slider">
            <ul class="slider-container">
                <li><img class="w-100" src="/img/Banner-Promociones-bancarias.png"></li>
                <li><img class="w-100" src="/img/BANNER-CREDICOOP.jpg"></li>
                <li><img class="w-100" src="/img/Banner-Provincia.png"></li>
            </ul>

            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>

            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
            </div>
        </div>
        <!--Fin Slider-->

        <!--<article class="contenedor">
            <h2>Articulo 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur illum assumenda tenetur distinctio! Atque distinctio natus aspernatur accusamus eius repudiandae harum blanditiis mollitia adipisci, dicta deleniti, sint quidem voluptatibus.</p>
        </article>
        <div class="cont1">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>
        <div class="cont2">
            <h2>Contenido 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt blanditiis ipsa quis architecto eaque mollitia obcaecati, itaque non fugit repudiandae quia ipsam tempora iste aperiam? Sit odit fuga libero?</p>
        </div>-->
        <div class="main-info">
            <section>
                <figure>
                    <i class="fa-solid fa-credit-card"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <figure>
                    <i class="fa-solid fa-truck"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Envío rápido y seguro</h3>
                    <p>Elegí Mercado Envíos y seguí tu compra hasta que llegue a tus manos.</p>
                </div>
            </section>
            <section>
                <figure>
                    <i class="fa-solid fa-shield-halved"></i>
                </figure>
                <div class="contenido-card">
                    <h3>Compra Protegida</h3>
                    <p>Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
                </div>
            </section>
        </div>

    </main>
    <!--Fin Cuerpo-->
    
    <!--Pie de Página-->
    <%- include('./partials/footer.ejs') %>
    <% if (isAuthenticated) { %>
        <script>
            toastr.success('Ya puedes hacer compras','Se inicio sesion correctamente!')

            toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
        </script>
    <% } %>
    <!--Fin Pie de Página-->
        
</body>
</html>